<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doer's Meditation</title>
    <link media="all" rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <section class="project">
        <h1>Project A</h1>
        <ul>
            <li>
            <input id="" name="" type="checkbox" />
            Task 1
            <s></s>
            <s class="selected"></s>
            <i></i>
            <i class="active"></i>
            <u></u>
            <u class="done"></u>
            <input id="" name="" type="checkbox" />
            <span>&nbsp;</span>
            </li>
            <li>Task 2</li>
            <li>
                <ul>
                    <li>subtask 1</li>
                    <li>subtask 2</li>
                    <li>
                        <ul>
                            <li>subsubtask 1</li>
                            <li>subsubtask 2</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="project focused">
        <h1 class="jProjectName" contenteditable>Project A</h1>
        <ul>
            <li>
            <input id="" name="" type="checkbox" />
            Task 1
            <s></s>
            <s class="selected"></s>
            <i></i>
            <i class="active"></i>
            <u></u>
            <u class="done"></u>
            <input id="" name="" type="checkbox" />
            <span>&nbsp;</span>
            </li>
            <li>Task 2</li>
            <li>
                <ul>
                    <li>subtask 1</li>
                    <li>subtask 2</li>
                    <li>
                        <ul>
                            <li>subsubtask 1</li>
                            <li>subsubtask 2</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <script src="/js/jquery.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
