/*
    Developed by anthonyvscode.com
    This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*/
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
  font-family: tahoma, arial, sans;
}
.hide {
  display: none;
}
#logo {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 200px;
  height: 30px;
  background: url(/i/sprites.png) no-repeat 0 0;
}
.project {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 6px 6px 4px 4px;
  -webkit-border-radius: 6px 6px 4px 4px;
  border-radius: 6px 6px 4px 4px;
  background-color: #d8ccb2;
  padding: 3px;
  color: #fff;
  min-width: 200px;
}
.project .move-handler {
  padding-top: 28px;
  cursor: move;
}
.project h1 {
  font-size: 16px;
  line-height: 1em;
  position: absolute;
  top: 4px;
  left: 3px;
  padding: 4px 1px;
  max-width: 60%;
  min-width: 20%;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.project h1:focus {
  outline: 0 none;
  background-color: #a34747;
  max-width: none;
  overflow: visible;
  -o-text-overflow: visible;
  text-overflow: visible;
}
.project ul {
  list-style: none;
  margin-left: 20px;
  background-color: #fff;
  color: #999;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.project ul li {
  line-height: 24px;
  border-bottom: #d8ccb2 1px dashed;
  position: relative;
}
.project ul li .text {
  overflow: hidden;
}
.project ul li .text span {
  padding: 0px 1px;
  max-width: 60%;
  min-width: 20%;
  cursor: text;
  min-height: 24px;
}
.project ul li .text span:focus {
  outline: 0 none;
}
.project > ul {
  margin-left: 0;
  padding-bottom: 20px;
}
.project ul li s,
.project ul li b,
.project ul li i,
.project ul li u {
  display: block;
  overflow: hidden;
  background: url(/i/sprites.png) no-repeat 0 -28px;
  height: 24px;
  width: 18px;
}
.project ul li u {
  float: left;
  margin: 0 4px;
  cursor: pointer;
}
.project ul li u.done {
  background-position: -90px -28px;
}
.project ul li u:hover {
  background-position: -120px -28px;
}
.project ul li i {
  width: 16px;
  float: right;
  background-position: -2px -90px;
}
.project ul li i.hover {
  background-position: -32px -90px;
  cursor: move;
}
.project ul li s {
  float: right;
  top: 0;
  right: 24px;
  cursor: pointer;
  background-position: 0 -60px;
}
.project ul li s.selected {
  background-position: -60px -60px;
}
.project ul li s:hover {
  background-position: -30px -60px;
}
.project.focused {
  left: 400px;
  background-color: #933;
}
.project.focused ul {
  color: #333;
}
.project.focused ul li {
  border-bottom: #933 1px dashed;
}
.project.focused u.done, .project.focused u:hover {
  background-position: -30px -28px;
}
.project.focused u:hover {
  background-position: -60px -28px;
}
